
@{
    //Author: Sai Pyneni
    //date: 1/27/2019
    //Layout = null;
    ViewBag.Title = "Forgot Password";

}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/BookTracker_logo.ico" />
    <meta name="viewport" content="width=device-width" />
    <title> </title>
    @Styles.Render("~/Content/ForgotPassword.css")
    @Styles.Render("~/Content/Button.css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    @using (Html.BeginForm())
    {
        <section class="jumbotron jumbo1 container-fluid ">
            <h1 class="title" style="color: whitesmoke"> Book Tracker </h1>
            <img src="~/Images/BookTracker_logo.gif" style="max-height: 150px; max-width: 150px;" title="BookTracker-logo" />
            <div>
                <h2 class="heading">Forgot Password</h2>

                <form class="login-form ">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase " style="color:ActiveCaption">Enter Your Email:</label>

                        @Html.Editor("EmailID", "", new { @class = "col-md-14 form-control text-center" })
                    </div>
                    <div style="padding: 2.5px">
                        <input type="submit" value="Submit" class="float-none col-md-2 btn btn-success" />
                       
                    </div>
                    <div style="padding: 2px">
                        @Html.ActionLink("Back to Login", "Login", new { }, new { @class = "btn btn-primary" })
                        <div class="text-dark">
                            @ViewBag.message
                        </div>
                    </div>

                </form>

            </div>


        </section>

    }



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>


</html>































