
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Admin</title>
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top " style="background-color: #666; background: #666">
            <a class="navbar-brand">
                <img class="" style="max-height: 70px; max-width: 70px;" src="~/Images/BookTracker_logo.gif" title="BookTracker-logo" />
            </a>
            @Html.ActionLink("Book Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand font-weight-bold ", @style = "font-family: OCR A Std" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font:bold">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("User Managment", "Index", "Admin", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Accounts Management", "Index", "ChartOfAccounts", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active text-hide">
                        @Html.ActionLink("Contact", "Contact", "Home", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Event Log", "Index", "Eventlog", new { }, new { @class = "nav-link" })
                    </li>

                </ul>
                <div class="nav-item dropdown active bs-popover-right">
                    @Html.ActionLink("Log Out", "LogOut", "userTable", new { }, new { @class = "nav-link ", @style = " color: white" })
                </div>

                <h3 style="font-family:OCR A Std; color:white" class="font-weight-bold font-italic"> Hello, @Session["userFName"].ToString()</h3>

                <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            </form> -->
            </div>

        </nav>
    </div>
</body>
</html>
